.container-fluid {
    width: 80%;
    height: 100%;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  
  .header img {
    margin: auto;
    float: left;
    width: 40px;
    height: 50px;
    background: #555;
    padding-left: 50px;
  }
  
  .header h1 {
    margin: auto;
    position: relative;
    top: 18px;
    left: 10px;
    font-size: 20px;
    color: darkgreen;
  }
  
  .login_div {
    width: 80%;
    margin: auto;
  
    border-radius: 5px;
    padding: 20px;
    margin-top: 2%;
  }
  
  .modal-title {
    font-size: 20px;
  }
  
  .loginImg {
    width: 100%;
  }
  
  .title {
    font-size: 28 !important;
    font-weight: bolder !important;
  }
  
  .signup {
    width: 50%;
    background-color: #97cbce;
    padding: 20px;
  }
  
  .img_div {
    height: 100px;
    width: 100px;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .login_blk, .login_blk .row {
    height: 100vh !important;
    min-height: 100vh !important;
  }
  .login_blk .row {
    display: flex;
  }
  .login_img_blk {
    flex: 7;
  }
  .login_form_container {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    background: transparent;
    box-shadow: none;
    padding: 0;
    position: relative;
    z-index: 10000;
  }
  
  .col-md-5.p-0 {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background: #fff;
  }
  
  .validate-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #3598DC;
    font-weight: 600;
    z-index: 2;
  }
  
  @media only screen and (min-width:700px) and (max-width:900px) {
    .login_div {
      width: 100%;
    }
  
    .loginImg {
      height: 75%;
    }
  
    .img_div {
      width: 65px;
      height: 65px;
      margin-bottom: 10px;
    }
    .btn_primarydisable {
      width: 100%;
      background-color: #ccc;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      color: #FFFFFF;
      border: none;
      border-radius: 4px;
      padding: 12px 10px;
  }
  }
  
  
  
  
  